<head>
<style>

div.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#20BF55;
    }
div.body1{
	font-family: 'Roboto', sans-serif;
    size:22px;
    padding-left:20px;
    padding-right:20px;
    text-align: justify;
}

</style>
</head>
<body>
<div class="heading">
<h1>Shipping Policy</h1>
<br><br>
</div>

<div class="body1">
<h4>Shipping & Delivery Policy (Products)</h4>
 <div style="margin-bottom:20px;"></div>
    <p>For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only.</p>
<div style="margin-bottom:20px;"></div>
    <p>We do not ship O2Store products out of India.</p>
<div style="margin-bottom:20px;"></div>
    <p>Orders are shipped within 7 working days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company/post office norms. </p>
<div style="margin-bottom:20px;"></div>
    <p>O2Store is not liable for any delay in delivery by the courier company / postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 7 working days from the date of the order and payment or as per the delivery date agreed at the time of order confirmation. </p>
<div style="margin-bottom:20px;"></div>
    <p>Delivery of all orders will be to the registered address of the buyer as per the credit/debit card only at all times(Unless specified at the time of Order). Nurserylive is in no way responsible for any damage to the order while in transit to the buyer</p>
 <div style="margin-bottom:20px;"></div>
    <h4>Payments</h4>
<div style="margin-bottom:20px;"></div>
    <p>O2Store is proud to use EBS, Payu, PayTM and other online payment systems for fast, easy and efficient secure payments. All major credit cards are accepted.</p>
<div style="margin-bottom:20px;"></div>
    <h4>Shipping & Delivery Policy (Services)</h4>
<div style="margin-bottom:20px;"></div>
    <p>Delivery of our services will be confirmed on your mail ID as specified during registration. For any issues in utilizing our services, you may contact our helpdesk.</p>
<div style="margin-bottom:20px;"></div>
    <p>How the delivery charge is calculated for multiple units and some products </p>
<div style="margin-bottom:20px;"></div>
    <p>We do not ship products out of India. For multiple products ordered the program adds up the weight of all the units ordered and charges a single delivery fee. </p>
<div style="margin-bottom:20px;"></div>
    <p>However, the delivery fee is calculated separately when a customer orders different plants to be delivered at different locations. This is because the products are being sourced and shipped from different cities. </p>
<div style="margin-bottom:20px;"></div>
    <h4>Disclaimer</h4>
<div style="margin-bottom:20px;"></div>
    <p>The product will be delivered for all urban areas in India serviceable by major courier agencies. For remote/rural areas the product will be sent by local couriers / Indian Speed Post and may take more time. </p>
<div style="margin-bottom:20px;"></div>
    <p>* No Deliveries on Sunday and National Holidays.</p>
    </div>

</body>
