<head>
<style>

div.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#20BF55;
    }
div.body1{
	font-family: 'Roboto', sans-serif;
    size:22px;
    padding-left:20px;
    padding-right:20px;
    text-align: justify;
}

</style>
</head>
<body>
<div class="heading">
<h1>Privacy Policy</h1>
<br><br>
</div>

<div class="body1">
<p>This privacy policy sets out how O2Store uses and protects any information that you give O2Store when you use this website</p>
<div style="margin-bottom:20px;"></div>
<p>O2Store is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>
<br>
<h4>What we collect</h4>
<div style="margin-bottom:20px;"></div>
<p>1. Contact information including name , email address</p>
<p>2. demographic information such as postcode, preferences, and interests</p>
<p>3. other information relevant to customer surveys and/or offers</p>
<div style="margin-bottom:20px;"></div>
<h4>Security</h4>
<p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
<div style="margin-bottom:20px;"></div>
<h4>How we use cookies</h4>
<div style="margin-bottom:30px;"></div>
<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes, and dislikes by gathering and remembering information about your preferences</p>
<div style="margin-bottom:20px;"></div>
<p>We use traffic log cookies to identify which pages are being used. This helps us analyze data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
<div style="margin-bottom:20px;"></div>
<p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
<div style="margin-bottom:20px;"></div>
<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website</p>
<div style="margin-bottom:20px;"></div>
<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
</div>


</body>
