<sly data-sly-use.obj="com.mindtree.Project_O2Store.core.models.AllCategoriesModel"/>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.js @ categories='Project_O2Store.site'}"/>

<sly data-sly-include="/apps/Project_O2Store/components/structure/CartComponent/CartComponent.html"/>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <style>
    img
    {
	padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    }
    </style>
</head>

<body>
	<div class="container">

        <div class="row">
		</div>
		<div class="row">


            <div class="col" style="padding:20px;" data-sly-repeat="${obj.getFertilizers}" >
            <a href="${item.getPdpLink}" style="text-decoration:none;color:black;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="200" height="275" style="border-radius:30px;"
                        src="/content/dam/Project_O2Store/en/fertilizers/fertilizer-images/${item.getProductName}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">₹ ${item.getPrice}</h5>

                        <p class="card-text" align="center">${item.getProductDisplayName}</p>
                            <button type="button" style="margin-left:15px;" data-name="${item.getProductDisplayName}" data-price="${item.getPrice}" data-id="${item.getProductId}" class="quickshop btn btn-primary">QuickShop</button>
                            <button type="button" style="margin-left:15px;" data-name="${item.getProductDisplayName}" data-price="${item.getPrice}" data-id="${item.getProductId}" class="add-to-cart btn btn-primary">Add to cart</button>


                    </div>
                </div>
                </a>
            </div>


        </div>
	</div>
</body>

</html>