<style>

*{
    margin : 0;
    padding : 0;
}

.forgetpassword-hero{
    height : 100%;
    width : 100%;
    background-image : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/content/dam/Project_O2Store/en/login/plant.jpg.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.forgetpassword-box{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.forgetpassword-button_box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #24ff2f1f;
    border-radius: 30px;
}

.forgetpassword-toggle_btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
     background: linear-gradient(to right,  #20BF55, #20BF55);
    border-radius: 30px;
    transition: 0.5s;
}

.forgetpassword-input_field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.forgetpassword-submit_btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #20BF55, #20BF55);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.forgetpassword-input_group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin-left: 50px;
}

.login a{
    float: right;
    color: green;
}

</style>

<body>
<div class="forgetpassword-hero">
<div class="forgetpassword-box">
<div class="forgetpassword-button_box">
    <div id="btn"></div>
    <button type="button" class="forgetpassword-toggle_btn" >You can Change Password here</button>
</div>
<form name="forgetpassword" id="forgetpassword-login" class="forgetpassword-input_group" >
    <input type="email" class="forgetpassword-input_field" id="email2" placeholder="Email" name="email2" required>
    <input type="password" class="forgetpassword-input_field" id="newpassword" placeholder="New Password" name="newpassword" required>
    <br>
    <br>
    <br>
    <button type="submit" class="forgetpassword-submit_btn" >Submit</button>
    <br>
    <br>
     <div class="login">
    <a href="/content/Project_O2Store/en/login.html" style="text-decoration:none;">Take me to the Login Page</a></div>
</form>
</div>
</div>
</div>

<script>
$('.forgetpassword-submit_btn').click(function(){  
var email = $('#email2').val(); 
var newpassword = document.getElementById("newpassword").value;
console.log(newpassword);
console.log(email);
if(!email || !newpassword){
return;
}
$.ajax({
        type : "POST",    
        url : '/bin/ForgetPassword/ForgetPasswordServlet',    
        data : {        
           email:email,
           newpassword:newpassword

        },    
        success : function(data, textStatus, jqXHR) {
        alert(data);

        },    
        error : function(XMLHttpRequest, textStatus, errorThrown) {        

        }
        });
        });



    </script>

