<head>
<style>

div.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#20BF55;
    }
div.body1{
	font-family: 'Roboto', sans-serif;
    size:22px;
    padding-left:20px;
    text-align: justify;
}
</style>
</head>
<body>
<div class="heading">
<h1>About O2 Store</h1>
<br><br>
</div>

<div class="body1">
<p> •	O2Store germinated in 2021 from a promise to make ‘green and healthy’ a click away for all Indians.</p>
<p> •	Having plants in our homes or in our offices doesn’t just look good, it also boosts our mood, makes us more productive, and cleans the air around us by absorbing toxins.</p>
<p> •	Most of us being urban dwellers spending their days in apartments with limited access to parks and ecological reserves, have no way of feeling close to nature and experiencing the  benefits of being around plants.</p>
<p> •	Ordering a pizza is easy but ever heard of ordering a plant to your doorstep? This is where o2 store comes in.</p>
<p> •	A one-stop-shop for all gardening related requirements, O2Store has many products available online for delivery across India saving you numerous messy trips to various nurseries.</p>
<p> •	We believe that every space can be made more beautiful with plants! Come, join us in our vision to make all spaces green and healthy! </p>
</div>

<br><br>
<div class="body1">
<h3>How we work</h3>
<p>Add a touch of green to your home/office in two simple steps and become a plant parent</p>
<p>1.	Plants, simplified: Order plants ready to be placed in your home, office or garden. Just Unpack, Relax and Enjoy your green buddies</p>
<p>2.	Secure Shipping: Our unique packaging will hold the plants in place and let the plant breathe so that it reaches you fresh without any mess.</p>
</body>
