<head>
<style>

div.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#20BF55;
    }
div.body1{
	font-family: 'Roboto', sans-serif;
    size:22px;
    padding-left:20px;
    padding-right:20px;
    text-align: justify;
}

</style>
</head>
<body>
<div class="heading">
<h1>Refund Policy</h1>
<br><br>
</div>

<div class="body1">
<h4>Cancellation Policy</h4>
<div style="margin-bottom:20px;"></div>
    <p>O2Store believes in helping its customers as far as possible and has, therefore, a liberal cancellation policy. Under this policy:</p>
<div style="margin-bottom:20px;"></div>
    <p>Cancellations will be considered only if the request is made within 24 hours of placing an order. However, the cancellation request will not be entertained if the orders have been communicated to the vendors/merchants and they have initiated the process of shipping them. </p>
<div style="margin-bottom:20px;"></div>
    <p>There is no cancellation of orders placed under the Same Day Delivery category. </p>
<div style="margin-bottom:20px;"></div>
    <p>No cancellations are entertained for those products that the O2Store marketing team has obtained on special occasions like Pongal, Diwali, Valentine’s Day etc. These are limited occasion offers and therefore cancellations are not possible. </p>
<div style="margin-bottom:20px;"></div>
    <p>In case of receipt of damaged or defective consumer durable items and nondurable items, please report the same to our Customer Service team. The request will, however, be entertained once the merchant has checked and determined the same at his own end. This should be reported within 1 day of receipt of the products. </p>
<div style="margin-bottom:20px;"></div>
    <p>In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice of our customer service within 24 hours of receiving the product. The Customer Service Team after looking into your complaint will take an appropriate decision. </p>
    <br>
    <h4>Refund Policy</h4>
<div style="margin-bottom:20px;"></div>
    <p>Orders delivered & accepted by the customer cannot be refunded. In case you feel the order is not as per specification, please contact our customer care team immediately in 24hrs.</p>
    <br>

</div>

</body>
